<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>

    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.wwem2shXLdv1xH2qNwhwDQHaI3%26pid%3DApi&f=1&ipt=e18f8f4470c9480b7ff20cf0e7744c5a0f16799cd2d0aa63639c9a89223a5797&ipo=images" alt="" class="img-fluid" title="Pratham Parikh">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I m a <span class="text_clr"> Web Developer </span> Creative and Learner </h1>
                        <a href="#"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>